@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
scrollbar-width: auto;
scrollbar-color: #987ea0 #ffffff;
}

*::-webkit-scrollbar {
width: 11px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #343333;
border-radius: 10px;
border: 2px solid #ffffff;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.register-form input {
    background-color: #1E301E;
    padding: 16px;
    border-radius: 6px;
    color:white
}

.register-form input:focus {
    outline: 1px solid white;
    background-color: #0D160D;
}

.register-form label {
    margin-bottom: 7px;
    font-size: 14px;
    color: white;
}

.primary-button {
    background-color: #EAFF5F;
    border-radius: 6px;
    color: #142214;
    padding: 16px 35px;
    transition: all 0.2s;
}

.primary-button:hover {
    background-color: black;
    border-radius: 6px;
    color: #EAFF5F;
}

.secondary-button {
  background-color:#142214;
  border-radius: 6px;
  color: white;
  padding: 16px 35px;
  transition: all 0.2s;
}

.secondary-button {
    background-color: white;
    border-radius: 6px;
    color: #142214;
}

.tertiary-button {
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    padding: 16px 35px;
    transition: all 0.2s;
}

.tertiary-button:hover {
    background-color: white;
    border-radius: 6px;
    color: #142214;
}

.register-form button {
    background-color: #EAFF5F;
    color: #142214;
    padding: 16px;
}

.device-box {
    transition: all 0.2s;
}

.device-box:hover {
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

.device-box:hover .circle {
    background-color: #757575;
}

.device-box:hover p {
    color: #142214;
}

.add-new {
    background-color: #40474E;
    transition: all 0.2s;
}

.add-new:hover {
    background-color: #EAFF5F;
    cursor: pointer;
}

.add-new:hover p {
    color: #142214;
}

.profile-avatar {
    transition: 0.2s all;
}

.profile-avatar img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.device-manage input {
    border-radius: 6px;
    border: 1px solid #CDCDCD;
}

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
  position: relative;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
}

.select::after {
  content: url("./assets/arrows.svg");
  position: absolute;
  top: 47px;
  right: 20px;
  transition: .25s all ease;
  pointer-events: none;
}

.hot {
  background-color: #FF9823;
}

.cold {
  background-color: #4FAADF;
}

.go-back-button {
    transition: all 0.2s;
}

.go-back-button:hover #Ellipse_6 {
    fill: white;
}

.go-back-button:hover #interface-arrows-button-up {
    stroke: #818E9C;
}

.social-icon {
    cursor: pointer;
}

.social-icon svg {
    width: 20px;
    height: 20px;
    transition: all 0.2s;
}

.social-icon:hover {
    background-color: #403D3D;
}

.social-icon:hover path {
    fill: white;
}

.social-icon path {
    fill: #403D3D;
}

.header-welcome {
    background-image: url(./assets/home-bg.png);
    background-size: cover;
    background-position: bottom;
}

.modal {
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    margin-top: 7%;
    transform: translate(-50%, 0%);
}